/* CHANGE PAGE BACKGROUND-COLOR  */
body.contact,
.contact footer {
  background-color: var(--color-mustard-100);
  color: var(--color-neutral-900);
  position: relative;
}

/* CHANGE LOGO SVG BACKGROUND-COLOR  */
.contact header:not(.show) nav .logo img,
.contact footer .minta-and-brook-trout {
  filter: invert(58%) sepia(60%) saturate(282%) hue-rotate(168deg)
    brightness(96%) contrast(84%);
}

/* ALL LINKS WITH A DIFFERENT COLOR */
.contact section.content p a {
  color: var(--color-vivid-sky-blue-500);
}

h1 {
  font-size: 0;
  line-height: 0;
}

section.content.col-2.general-container {
  min-height: 100vh;
}

.contact section.content h2 {
  font-size: clamp(2.8rem, 5vw, 4.8em);
  font-weight: 700;
  text-align: left;
  margin-right: auto;
  margin-left: auto;
  line-height: normal;
  color: var(--color-steel-blue-900);
}

.contact section.content .general > ul,
.contact section.content .credits > ul {
  margin-top: 2rem;
  text-align: left;
}

.contact section.content .general > ul li,
.contact section.content .credits > ul li {
  padding: 1rem 0;
}

.contact section.content .general h3,
.contact section.content .credits h3 {
  text-align: left;
  font-size: clamp(2em, 5vw, 2.5em);
  margin: 0 0 0.8rem 0;
  font-weight: 100;
}

.contact section.content .general p,
.contact section.content .credits p {
  font-size: clamp(1.2em, 5vw, 1.5em);
  padding: 0.3rem 0;
}
