/* CHANGE PAGE BACKGROUND-COLOR  */
body,
footer {
  background-color: #f5d225;
  color: rgb(51, 47, 47);
  position: relative;
}

/* LINKS */
.home p a {
  color: #2598e8;
}

.home p a:before {
  content: "";
  background-color: #2598e8;
}

.home p a:hover::before {
  content: "";

  background-color: #2598e8;
}

/* CHANGE LOGO SVG BACKGROUND-COLOR  */
header:not(.show) nav .logo img,
footer .minta-and-brook-trout {
  filter: invert(58%) sepia(84%) saturate(202%) hue-rotate(168deg)
    brightness(96%) contrast(84%);
}

/* PARALLAX EFFECT */
.parallax-effect {
  background-image: url("RandomInformation_Capa_FINAL.jpg");
}
@media only screen and (max-device-width: 767px) {
  .parallax-effect {
    background-size: cover;
    min-height: 400px;
    background-repeat: no-repeat;
    background-attachment: scroll;
    transform: translateZ(0);
  }
}
.picture.parallax-effect {
  background-image: url("20250415 027 cred_VeraMarmelo1.jpg");
}
@media only screen and (max-device-width: 767px) {
  .picture.parallax-effect {
    background-size: cover;
    min-height: unset;
    background-position: right bottom;
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: scroll;
    transform: translateZ(0);
  }
}

/* MIGUEL NAME */
section.content p span.miguel {
  text-decoration: line-through;
  color: rgb(51, 47, 47);
}

/* BIG TITLE  */
h1 {
  font-size: 0;
  line-height: 0;
}
section.big-title-wrapper {
  margin: 0.1rem 2rem 4rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 0px;
  min-height: 1px;
}
section.big-title-wrapper img {
  width: 100%;
}
#STRETCH-parent {
  width: 100%;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: visible;
  margin-top: 20px;
}
#STRETCH-parent > svg {
  overflow-x: hidden;
  overflow-clip-margin: unset;
  margin: 0;
  width: 100%;
}
#stretch-text {
  font-family: "Outfit", sans-serif;
  font-style: italic;
  font-size: clamp(5rem, 10vw, 2rem);
  fill: white;
  letter-spacing: 0;
  transform-origin: left center;
  animation: stretchFromLeft 4s ease-in-out infinite alternate;
  will-change: letter-spacing, transform;
  transform: translateZ(0);
  width: 60%;
}
@keyframes stretchFromLeft {
  0% {
    letter-spacing: 0;
    transform: scaleX(1);
  }
  100% {
    letter-spacing: 0.5em;
    transform: scaleX(0.9); /* subtle extra stretch */
  }
}

/* SINGLE IMAGES WITH ANIMATIONS AND CURSORS */
a.album img {
  transition: all 0.4s cubic-bezier(0.07, -0.01, 0, 0.47);
  position: relative;
  top: 0;
  left: 0;
  cursor: url("../icon-sun.svg"), auto;
}

a.album:hover img {
  transform: scale(1.4) rotate(15deg);
  top: 0;
  left: 100px;
}

/* social media list */
.social-media ul {
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  margin-top: 1.5rem;
}
.social-media ul li a {
  position: relative;
  top: 0;
  cursor: url("../in-love.svg"), auto;
  transition: all 0.3s ease-in-out;
  z-index: 0;
}
.social-media ul li a:hover {
  top: -3px;
}

/* images wrappers */
.flex-right {
  display: flex;
  justify-content: flex-end;
}

.flex-left {
  display: flex;
  justify-content: flex-start;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.wrapper-center {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.wrapper-center iframe {
  margin: 0 auto;
  width: 100% !important;
  display: flex;
  justify-content: center;
}

.img-wrapper-xs {
  width: 100px;
}

.img-wrapper-sm {
  width: 200px;
}

.img-wrapper-md {
  width: 300px;
}

.img-wrapper-lg {
  width: 400px;
}

@media only screen and (max-device-width: 567px) {
  .img-wrapper-lg,
  .img-wrapper-md,
  .img-wrapper-xs {
    width: 100%;
  }
}

/* stretch mockups */

.stretch-mockups {
  width: 100%;
  display: flex;
  gap: 140px;
}

.stretch-mockups img {
  width: 100%;
  height: auto;
}

.stretch-band p {
  font-family: "Outfit", sans-serif;
  font-size: clamp(1rem, 2vw, 1.4rem);
  margin: 0.8rem 0;
}

.stretch-credits {
  width: 70%;
  margin: 40px auto 80px auto;
}

p {
  position: relative;
  z-index: 2;
  font-size: 2rem;
}

p.small {
  position: relative;
  font-size: clamp(1rem, 2vw, 1.4rem);
  font-weight: 300;
}

@media (max-width: 1200px) {
  p {
    font-size: 1.3rem;
  }
}

@media (max-width: 1024px) {
  p {
    font-size: 1.1rem;
  }

  a.album img {
    transition: none;
    position: relative;
    top: 0;
    left: 0;
    cursor: url("../icon-sun.svg"), auto;
  }

  a.album:hover img {
    transform: none;
    top: 0;
    left: 0;
  }

  .stretch-mockups {
    width: 100%;
    display: flex;
    gap: 20px;
  }
}

@media (max-width: 767px) {
  p {
    font-size: 1.4rem;
  }

  .cantaloupe-video {
    width: 270px;
    height: 480px;
  }
  a.album {
    overflow: hidden;
  }
  a.album:hover img {
    transform: none;
    left: 0;
    width: 100%;
  }
  #STRETCH-parent {
    width: 100%;
    height: 100px;
    margin-top: 6px;
  }
  #stretch-text {
    font-size: clamp(8rem, 1vw, 10rem);
    width: 100%;
  }
  .homepage-video,
  .video.parallax-effect iframe.homepage-video {
    width: 100%;
    height: 300px;
  }
  .stretch-credits {
    width: 100%;
  }
}
