/* CHANGE PAGE BACKGROUND-COLOR  */
body.lyrics,
.lyrics footer {
  background-color: white;
  color: var(--color-neutral-900);
  position: relative;
}

/* CHANGE LOGO SVG BACKGROUND-COLOR  */
.lyrics header:not(.show) nav .logo img,
.lyrics footer .minta-and-brook-trout {
  filter: invert(58%) sepia(60%) saturate(282%) hue-rotate(168deg)
    brightness(96%) contrast(84%);
}

/* ALL LINKS WITH A DIFFERENT COLOR */
.lyrics section.content p a {
  color: var(--color-mustard-500);
}

h1 {
  font-size: 0;
  line-height: 0;
}

p {
  font-size: clamp(1.2rem, 2vw, 1.3rem);
  color: var(--color-neutral-900);
}

.lyrics section.content {
  padding: 4rem 6rem;
  align-items: center;
}

@media (max-width: 767px) {
  .lyrics section.content {
    padding: 3.5rem 1.5rem;
    width: 100%;
  }
}

/* LYRICS INTRO */
.lyrics .lyrics-intro h3 {
  margin-bottom: 3.5rem;
  color: var(--color-steel-blue-900);
}

.lyrics .lyrics-intro p {
  font-size: clamp(1.8rem, 5vw, 1.1em);
  color: var(--color-steel-blue-900);
  margin: 0.8rem auto;
  width: 80%;
}

.lyrics .lyrics-intro p.small {
  font-size: clamp(0.9rem, 3vw, 1rem);
  color: var(--color-neutral-900);
}

@media (max-width: 567px) {
  .lyrics .lyrics-intro p {
    font-size: clamp(1.5rem, 5vw, 1em);
    width: 100%;
  }
}

/* LYRICS WRAPPER */

.lyrics .lyrics-wrapper h2 {
  font-size: clamp(3rem, 5vw, 2.5em);
  font-weight: 700;
  text-align: left;
  margin: 0 0 3rem 0;
  color: var(--color-steel-blue-900);
}

.lyrics .lyrics-wrapper h3 {
  font-size: clamp(1.3rem, 5vw, 1.2em);
  font-weight: 700;
  text-align: left;
  line-height: normal;
  margin: 0 0 1rem 0;
  color: var(--color-steel-blue-900);
}

.lyrics .lyrics-wrapper ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
}

@media (max-width: 1024px) {
  .lyrics .lyrics-wrapper ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 567px) {
  .lyrics .lyrics-wrapper ul {
    display: grid;
    grid-template-columns: 1fr;
  }
}

/* ALBUMS */

.album-you {
  background-color: #cd5a01;
}

.album-minta {
  background-color: #ffffff;
}

.album-olympia {
  background-color: #478e92;
}

.album-slow {
  background-color: #cc6760;
}

.album-row {
  background-color: #dddddd;
}

.album-demolition {
  background-color: #f06885;
}

.album-stretch {
  background-color: #f5d225;
}

.album-you h2,
.album-you h3,
.album-you p,
.album-olympia h2,
.album-olympia h3,
.album-olympia p,
.album-slow h2,
.album-slow h3,
.album-slow p,
.album-demolition h2,
.album-demolition h3,
.album-demolition p {
  color: white !important;
}

.album-minta h2,
.album-minta h3,
.album-minta p,
.album-row h2,
.album-row h3,
.album-row p,
.album-stretch h2,
.album-stretch h3,
.album-stretch p {
  color: rgb(62, 55, 55) !important;
}
