@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color-melon-100: #fdede8;
  --color-melon-200: #fce5dd;
  --color-melon-300: #fbdcd1;
  --color-melon-400: #f9cbbb;
  --color-melon-500: #f7b9a4ff;
  --color-melon-600: #d8a290;
  --color-melon-700: #b98b7b;

  --color-steel-blue-100: #d3dde8;
  --color-steel-blue-200: #bdccdc;
  --color-steel-blue-300: #90abc5;
  --color-steel-blue-400: #7a9ab9;
  --color-steel-blue-500: #4e78a2ff;
  --color-steel-blue-600: #44698e;
  --color-steel-blue-700: #3b5a7a;
  --color-steel-blue-800: #314b65;
  --color-steel-blue-900: #273c51;

  --color-bright-pink-crayola-100: #feebef;
  --color-bright-pink-crayola-200: #fdd7e0;
  --color-bright-pink-crayola-300: #fcb0c1;
  --color-bright-pink-crayola-400: #fb89a1;
  --color-bright-pink-crayola-500: #f96182ff;
  --color-bright-pink-crayola-600: #bb4962;
  --color-bright-pink-crayola-700: #9c3d51;
  --color-bright-pink-crayola-800: #7c3141;
  --color-bright-pink-crayola-900: #5d2431;

  --color-mustard-100: #fffae9;
  --color-mustard-200: #fff4d4;
  --color-mustard-300: #ffeaa9;
  --color-mustard-400: #ffdf7d;
  --color-mustard-500: #ffd452ff;
  --color-mustard-600: #dfba48;

  --color-vivid-sky-blue-100: #d3f2fc;
  --color-vivid-sky-blue-200: #bdebfa;
  --color-vivid-sky-blue-300: #92def7;
  --color-vivid-sky-blue-400: #7cd7f6;
  --color-vivid-sky-blue-500: #50caf3ff;
  --color-vivid-sky-blue-600: #46b1d5;
  --color-vivid-sky-blue-700: #327e98;
  --color-vivid-sky-blue-800: #286579;
  --color-vivid-sky-blue-900: #1e4c5b;

  --color-folly-500: #fb4550ff;

  --color-neutral-100: #ffffff;
  --color-neutral-200: #e0e2e3;
  --color-neutral-400: #c2c6c7;
  --color-neutral-500: #a3a9ab;
  --color-neutral-600: #666f72;
  --color-neutral-700: #475356;
  --color-neutral-800: #29363a;
  --color-neutral-900: #0a191e;
}

html {
  font-family: "Outfit", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  line-height: 1;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: calc(10px + 0.3vmax);
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

ul {
  list-style: none;
  padding: 0;
}

h1,
h2,
h3 {
  text-wrap: balance;
}

p {
  line-height: 1.2;
}

/* LINKS */
a {
  color: currentColor;
  text-decoration: none;
}

p a {
  color: var(--color-vivid-sky-blue-200);
  position: relative;
  display: inline-block;
}

p a:before {
  content: "";
  width: 0;
  height: 3px;
  position: absolute;
  bottom: 4px;
  left: 0;
  background-color: var(--color-vivid-sky-blue-200);
  transition: all 0.8s cubic-bezier(0.4, 0, 0.2, 1);
}

p a:hover::before {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  position: absolute;
  bottom: 4px;
  left: 0;
  background-color: var(--color-vivid-sky-blue-200);
}

/* PARALLAX EFFECT */
.parallax-effect {
  width: 100%;
  min-height: 650px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--color-neutral-100);
  position: relative;
  z-index: 2;
}

/* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed */
/* @media only screen and (max-device-width: 1366px) {
  .parallax-effect {
    background-attachment: scroll;
  }
} */

/* END PARALLAX EFFECT */
/* CURSORS */
div.cursors div {
  position: absolute;
  left: 300px;
  top: 300px;
  width: 16px;
  height: 16px;
  background-color: var(--color-vivid-sky-blue-600);
  border-radius: 100%;
  z-index: 10;
  pointer-events: none;
  transform: translate(-50%, -50%);
  mix-blend-mode: difference;
  transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
}

@media (max-width: 767px) {
  div.cursors div {
    background-color: transparent;
  }
}
/* END CURSORS */
/* HEADER */
header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 2rem;
  z-index: 3;
}
header .logo {
  width: 200px;
}
header nav {
  width: 100%;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
}
header ul {
  display: flex;
  align-items: center;
}
header ul li {
  margin: 0.2rem 0.3rem;
}
header ul li a {
  background-color: var(--color-steel-blue-500);
  padding: 0.4rem 0.8rem;
  border-radius: 100px;
  font-size: 1.1rem;
  color: var(--color-neutral-100);
  transition: padding 0.3s ease-in-out;
}

header ul li a:hover:not(.selected) {
  padding: 0.4rem 1.5rem;
  transition: padding 0.6s ease-in-out;
}

header ul li a.selected {
  color: var(--color-vivid-sky-blue-300);
}
header ul li:last-child {
  margin-right: 0;
}
header ul li:last-child a {
  background-color: var(--color-neutral-100);
  color: var(--color-steel-blue-500);
  cursor: url("../in-love.svg"), auto;
}
header ul li:last-child a {
  cursor: url("../in-love.svg"), auto;
}

.hidden {
  display: none !important;
}
.show {
  display: block !important;
}

header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-bright-pink-crayola-400);
  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out;
  z-index: -1;
}

header.show::before {
  transform: translateY(0);
}

@media (max-width: 767px) {
  header {
    padding: 1rem;
    flex-direction: column;
    z-index: 10;
    transition: background-color 0.3s ease-in-out;
  }
  header.show {
    background-color: var(--color-steel-blue-900);
    transition: background-color 0.3s ease-in-out;
    height: 100vh;
    transform: translateY(-100%);
  }
  header .logo {
    width: 200px;
    height: 34px;
  }
  header nav {
    gap: 0.5rem;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
  }
  header.show nav {
    gap: 2.5rem;
  }
  header nav button {
    height: 34px;
    border: 0;
    background-color: var(--color-steel-blue-500);
    padding: 0.4rem 0.8rem;
    margin: 0;
    border-radius: 100px;
    cursor: pointer;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
  }
  header.show nav button {
    background-color: transparent;
  }
  header nav ul {
    flex-direction: column;
    display: none;
    width: 100%;
  }
  header.show nav ul li {
    margin: 0;
  }
  header.show nav ul li a {
    width: 60%;
    text-align: center;
    display: block;
    margin: 1.3rem auto;
    background-color: transparent;
    font-size: 2.6rem;
    border-radius: 0px;
  }
  header.show nav ul li:last-child {
    margin-top: 2rem;
  }
  .menu-close,
  .menu-open {
    width: 21px;
  }
}
/* END HEADER */
/* MENU HAMBURGER */
.hamburger {
  display: none;
}

.hamburger .menu-close {
  display: none;
}
/*  END MENU HAMBURGER */

section.content {
  padding: 9.5rem 6rem;
  align-items: center;
}
section.content.col-1 {
  display: grid;
  gap: 4rem;
  grid-template-columns: 1fr;
}
section.content.col-2 {
  display: grid;
  gap: 4rem;
  grid-template-columns: 1fr 1fr;
}
section.content.col-3 {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 1fr 1fr;
}
section.content.col-2-1 {
  display: grid;
  gap: 4rem;
  grid-template-columns: 2fr 1fr;
}
section.content.center {
  text-align: center;
}

section.content p span {
  color: var(--color-vivid-sky-blue-200);
}
section.content h3 {
  text-align: center;
  font-size: 4rem;
  font-weight: 300;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}
section.content.size-s p {
  font-size: 2.5rem;
}

section.content.video iframe {
  width: 100%;
  height: 800px;
}

footer {
  padding: 16rem 2rem 6rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer img {
  width: 60%;
}
footer ul {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}
footer ul li {
  padding: 0 1rem;
}
footer ul li a {
  transition: all 0.3s ease-in-out;
}
footer ul li a:hover {
  color: var(--color-melon-500);
}
footer .credits {
  margin-top: 3.5rem;
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

figcaption {
  margin-top: 4px;
  font-size: 0.8rem;
}
figcaption span {
  text-decoration: line-through;
}

@media (max-width: 1024px) {
  section.content {
    padding: 6rem 2rem;
  }
  section.content.col-1,
  section.content.col-2 {
    gap: 2.8rem;
    row-gap: 2rem;
  }
  section.content.col-2-1 {
    display: grid;
    gap: 2.8rem;
    grid-template-columns: 1fr 1fr;
  }
  section.content h3 {
    font-size: 2.8rem;
    width: 80%;
  }
}

@media (max-width: 767px) {
  section.content {
    padding: 3.5rem 1.5rem;
    width: 100%;
  }
  section.content.col-1,
  section.content.col-2 {
    gap: 0;
    row-gap: 2rem;
    grid-template-columns: 1fr;
  }
  section.content h3 {
    font-size: 2.2rem;
    width: 80%;
  }
  section.content.video iframe {
    width: 100%;
    height: auto;
    min-height: 600px;
  }
  section.content.size-s p {
    font-size: 1.6rem;
  }
  footer {
    padding: 8rem 1.5rem 3rem 1.5rem;
  }
  footer img {
    width: 90%;
  }
  footer ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
    row-gap: 1.2rem;
  }
  footer ul li {
    justify-content: center;
    display: flex;
  }
}
@media (max-width: 567px) {
  section.content.col-2-1 {
    display: grid;
    gap: 4rem;
    grid-template-columns: 1fr;
  }
}
